<div class="post post--empty card-panel">
    <div class="row">
        <div class="col l6 post--empty__text">
            <h2>Oh no!</h2>
            <span>It seems that there aren't any posts</span>
        </div>
        <div class="col l6 post--empty__image"><img src="{{ asset('assets/img/nothing-here.gif') }}" alt=""></div>
    </div>
</div>
